.coming-soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px; /* Set the height */
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.coming-soon-content {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1300px; /* Set the width */
    max-width: 100%; /* Ensure it doesn't exceed 1300px if the screen is smaller */
}

.coming-soon-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333;
}

.coming-soon-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #777;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: #555;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown span {
    font-size: 2rem;
    color: #333;
}
