.main-container {
    display: flex;
    .side-nav {
        margin-top: 70px;
    max-width: 100%;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }
    .main {
      padding: 5px;
      margin-top: 65px;
    }
  }
  .container{
    overflow-x: hidden;
  }